In [312]:
import pandas as pd
import json 
import re
import numpy as np

In [313]:
df_metrics = pd.read_csv('data/2d-03_10_2018.csv')
df_metrics.shape[0]

516

In [314]:
with open('data/logs_exracted.json') as f:
    a = json.load(f)
df_logs = pd.DataFrame.from_dict({(i,j): a[i][j] 
                           for i in a.keys() 
                           for j in a[i].keys()},orient='index').reset_index()

df_logs= df_logs.fillna(0)
df_logs['win_diff'] = df_logs.apply(lambda x: (x['win']-x['loss'])/x['games'],axis=1)
df_logs['win_rate'] = df_logs.apply(lambda x: (x['win'])/x['games'],axis=1)
df_logs['goals_diff'] = df_logs.apply(lambda x: float(x['S']-x['R'])/x['games'],axis=1)
df_logs['loss_rate'] = df_logs.apply(lambda x: (x['loss'])/x['games'],axis=1)
df_logs = df_logs.rename({k:'results_' + k for k in df_logs.select_dtypes(include=np.number)},axis=1)
two_groups = '(?P<competition>[a-zA-Z\-\_]+)(?P<year>[0-9]+)'

df_logs = pd.concat([df_logs,df_logs['level_0'].str.extract(two_groups)],axis=1)
df_logs['year'] = df_logs['year'].astype('int64')
df_logs = df_logs.drop(['level_0'],axis=1)
df_logs = df_logs.rename({'level_1':'team'},axis=1)




df_logs.head()

,team,results_loss,results_S,results_R,results_games,results_tie,results_win,results_win_diff,results_win_rate,results_goals_diff,results_loss_rate,competition,year
0,-ai2004,2.0,19,9,7,0.0,5.0,0.428571,0.714286,1.428571,0.285714,AI-Games,2005
1,-hopomo,2.0,0,12,2,0.0,0.0,-1.000000,0.000000,-6.000000,1.000000,AI-Games,2005
2,actu,2.0,0,7,2,0.0,0.0,-1.000000,0.000000,-3.500000,1.000000,AI-Games,2005
3,biust,2.0,19,10,6,1.0,3.0,0.166667,0.500000,1.500000,0.333333,AI-Games,2005
4,iust,4.0,2,13,5,0.0,1.0,-0.600000,0.200000,-2.200000,0.800000,AI-Games,2005

In [315]:
df_logs['team'] = [x.strip('_-') for x in df_logs['team']]

In [316]:
df_logs['competition'] = df_logs['competition'].str.replace(u'JapanAutumnCamp','AutumnCamp')

In [317]:
df_logs.to_csv('data/logs_extracted.csv')

In [318]:
df_logs['team'] = df_logs['team'].str.lower()

In [319]:
df_logs = df_logs.groupby(['year','competition','team']).sum().reset_index()

In [320]:
df_logs.shape[0]

1291

In [321]:
df_logs = df_logs[~(df_logs['team'].str.len()<3)]

#### Load manually linked logs to program

In [322]:
df_mapped = pd.read_csv('data/group_names_mapped.csv',usecols=['competition','year','team_manual','group_name'])
df_mapped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 4 columns):
competition    528 non-null object
group_name     528 non-null object
year           528 non-null int64
team_manual    60 non-null object
dtypes: int64(1), object(3)
memory usage: 16.6+ KB

In [323]:
df_merged_mapping = df_logs.merge(df_mapped,left_on=['competition','year','team'],right_on=['competition','year','team_manual'],how='left')
df_merged_mapping['team_alt'] = df_merged_mapping.apply(lambda x: x.group_name if pd.notnull(x.group_name) else x.team ,axis=1)

In [324]:
df_merged_mapping.shape[0]

1257

In [325]:
df_merged_mapping = df_merged_mapping.drop('group_name',axis=1)

#### number manually linked programs :

In [326]:
df_merged_mapping.shape[0]

1257

#### Number of not liked groups

### Automatically linking groups to logs

In [327]:
def is_in_group(x,):
    r= re.match(r'([a-zA-Z\-]+)',x.team_alt)
    r2 = re.match(r'([a-zA-Z\-0-9]+)',x.team_alt)
    if not r:
        return False
    return r.groups()[0].lower() in x.group_name.lower(), len(r2.groups()[0])

In [328]:
def len_in_group_dup(x):
    if x.duplicate_team < 2: 
        return True
    r= re.match(r'([a-zA-Z\-0-9]+)',x.team_alt)
    if not r:
        return False
    if r.groups()[0].lower() in x.group_name.lower():
        return len(r.groups()[0])

In [329]:
df_mix = df_metrics.merge(df_merged_mapping,on=['competition','year'])

In [330]:
df_mix = df_mix.join(df_mix.apply(is_in_group,axis=1,result_type='expand').
                     rename({0:'exist',1:'length'},axis=1))

In [331]:
df = df_mix[df_mix['exist']==True].copy()

In [332]:
df.loc[:,'max'] = df.groupby(['competition','year','group_name'])['length'].transform(max)

In [333]:
df = df[df['length']==df['max']]

In [334]:
g = df.groupby(['competition','year','group_name'])['Current_group_location'].transform(lambda x: x.count())

In [335]:
df_metrics.shape[0]

516

In [336]:
df1 = df_metrics.merge(df,on=['competition','year','group_name'],how='left',indicator=True)
df1[df1['_merge']=='both'].shape[0]

410

In [337]:
df1[['competition','group_name','year','team_manual','_merge']].sort_values(['year','group_name']).to_csv('checkpoints/not_found_group_names.csv')

In [338]:
df2 = df_logs.merge(df,how='left',on=['competition','year','team'])

In [339]:
df_logs.count()

year                  1251
competition           1251
team                  1251
results_loss          1251
results_S             1251
results_R             1251
results_games         1251
results_tie           1251
results_win           1251
results_win_diff      1251
results_win_rate      1251
results_goals_diff    1251
results_loss_rate     1251
dtype: int64

In [340]:
df2[(df2['group_name'].isnull())][['competition','year','team']].sort_values(['competition','year','team']).to_csv('checkpoints/not_found_team.csv')

In [341]:
r= re.match(r'([a-zA-Z\-0-9]+)','oxblue08')

In [342]:
r.group(0).lower()

'oxblue08'

In [343]:
'OxBlue_rc08_release'.lower()

'oxblue_rc08_release'

In [344]:
df.to_csv('data/merged-logs_repo.csv')